* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans',
  sans-serif;
  font-size: 16px;
}
body {
  background-color: #ADBCC9;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  color: white;
  width: 400px;
  height: 550px;
  background-color: #001F40;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px #005CBF;
}
.card__title {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}
.tablas {
  background-color: #003E80;
  color: #FFF;
  display: block;
  width: 100%;
  font-size:16px;
  line-height:22px;
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
}
.items {
  padding: 5px 0;
  color: #007BFF;
  margin: 5px 0;
}
.card__paragraph {
  margin: 5px 0;
}
.card__label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card__input {
  background-color: #003E80;
  color: #FFF;
  padding: 5px 8px;
  width: 100%;
  font-size:16px;
  line-height:22px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
}
.tablas > .items {
  margin: 2px 0;
  cursor: pointer;
}
.card__input:disabled {
  color: #006FE6;
}
.cont__result {
  background-color: #003E80;
  position: relative;
  height: 100px;
  border-radius: 6px;
  overflow-y: scroll;
}
.result {
  margin: 16px;
  padding: 0;
}
li {
  padding: 3px 0;
  margin: 3px 0;
  list-style: none;
}

@media screen and (max-width: 390px) {
  .card {
    width: 95%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  .card {
    width: 95%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    width: 95%;
  }
}